body{
  	margin: 0;
  	line-height: normal;
}


.dashboard {
	max-width: 100%;
	margin: 0 auto;
	padding: 0;
	height: auto;
	min-height: fit-content;
}
.header {
	display: flex;
	background: #a7e8c8;
	border: 2px solid #2196f3;
	border-radius: 0px;
	height: 60px;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
}
.header a {
	flex: 1;
	text-align: center;
	font-size: 16px;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	padding: 0;
	margin: 0;
	border-right: 1px solid #7fd6b2;
	color: #000000;
	text-decoration: none;
}
.header a:hover {
	background-color: #95ddb8;
}
.main-block {
	background: #fff;
	margin: 10px 0 0 0px;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
}
.main-block b {
	font-size: 1rem;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
}
.chart {
  	margin-top: 30px;
	padding: 0px 150px; 	
}

.head-char {
	display: flex;
	border: 2px solid #2196f3;
	overflow: hidden;
	height: 80px;
	width: 100%;
	box-sizing: border-box;
}
.chart-header {
	flex: 1;
	padding: 15px;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	border-right: 1px solid #e0e0e0;
	position: relative;
}

.chart-header p {
	margin: 0;
	
}

.chart-header span {
	font-size: 18px;
	font-weight: bold;
}

.chart-header.cb1 {
	background: rgba(255, 193, 7, 0.2);
}
.chart-header.cb2 {
	background: rgba(156, 39, 176, 0.2);
}
.chart-header.cb3 {
	background: rgba(255, 87, 34, 0.2);
}
.chart-header img {
	width: 28px;
	height: 28px;
}


.content{
	display: flex;
	gap: 10px;
	border: 2px solid #2196f3;
	border-top: none;
	margin-bottom: 20px;
	padding: 10px;
}

/* Mỗi biểu đồ chiếm 1/3 */
.chart-item {
	flex: 1;
	height: 350px;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	padding: 15px;
	background: #fff;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.chart-item h3 {
	margin: 0 0 10px 0;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #333;
}

.chart-item canvas {
	flex: 1;
	max-height: calc(100% - 30px);
}
